* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none; /* Disable text selection */
}

body {
    background-color: #ddd
}

.title {
    color: #0d6efd;
    font-weight: bold;
    font-size: 2rem;
}
.card {
    animation: moving 4s alternate infinite;
}


@keyframes moving {
    from {
        transform: rotate(2deg);
    }
    to {
        transform: rotate(-2deg);
    }
}
.card-img-top {
    transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(2)

}

/* Facebook Chat Component */

.fb-chat {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 300px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: none;
	z-index: 9999;
}

.fb-chat-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #4267b2;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	user-select: none; /* Disable text selection */
}

.fb-chat-title {
	margin: 0;
	font-size: 16px;
}

.fb-chat-collapse {
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.fb-chat-collapse.collapsed {
	transform: rotate(45deg);
}

.fb-chat-body {
	padding: 10px;
	background-color: #f2f2f2;
	display: none;
}

.fb-chat-user-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fb-chat-user {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}
.fb-chat-user .img-ctn {
    position: relative
}

.fb-chat-user img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
}

.fb-chat-user .online::after {
	content: "";
	position: absolute;
	top: 34px;
    right: -2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #4CAF50;
	border: 2px solid #fff;
	z-index: 2;
}

.fb-chat-user .offline::after {
	content: "";
	position: absolute;
	top: 34px;
    right: -2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #999;
	border: 2px solid #fff;
	z-index: 2;
}

.fb-chat-user-info {
	display: flex;
	flex-direction: column;
}

.fb-chat-user-info h4 {
	margin: 0;
	font-size: 14px;
}

.fb-chat-user-status {
	margin: 0;
	font-size: 12px;
	color: #999;
}



