* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none; /* Disable text selection */
}

body {
    background-color: #ddd
}

.custom-tabs .nav-item button {
    padding: 5px 10px;
    color:#37517e;
    font-weight: bold;
    transition: all .3s ease-in-out
}

.custom-tabs .nav-item button.active {
    background:#a4c639
}


.custom-tabs .nav-item button:not(.active):hover {
    color:#1e1e1c;
    transform: translateY(-5px)
}


.title {
    color: #0d6efd;
    font-weight: bold;
    font-size: 2rem;
}
.card {
    animation: moving 4s alternate infinite;
}


/* @keyframes moving {
    from {
        transform: rotate(2deg);
    }
    to {
        transform: rotate(-2deg);
    }
} */

.card-img-top {
    transition: all 0.3s ease-in-out;
	min-width:304.4px;
	min-height: 144px;
}
.card-buttons .btn {
    background: #a4c639;
    border: 0;
    padding: 5px 20px;
    transition: all .3s ease-in-out
}

.card-buttons .btn:hover {
    color:#a4c639;
    background: transparent;
    border: 1px solid #a4c639
}

.card-img-top:hover {
    transform: scale(2)

}

.card-buttons svg {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
